---
layout: default
title: About
---

<section class="block-sections__section">
    <ul>
        <li>On GitHub: <a href="https://github.com/dlh01">@dlh01</a></li>
        <li>On Twitter: <a href="http://twitter.com/dlh01">@dlh01</a></li>
        <li>On Pinboard: <a href="https://pinboard.in/u:dlh01/">@dlh01</a></li>
    </ul>
</section>

<section class="block-sections__section">
    <p>I am a software developer at <a href="http://www.alleyinteractive.com/">Alley Interactive</a>.</p>
</section>

<section class="block-sections__section">
    <ul>
        <li>Contributions to WordPress core: <a href="https://core.trac.wordpress.org/changeset/28867">[28867]</a>, <a href="https://core.trac.wordpress.org/changeset/29196">[29196]</a></li>
        <li>Unit Testing for Nearly Intermediate Developers: WordCamp Raleigh 2013 presentation <a href="https://speakerdeck.com/dlh01/unit-testing-for-nearly-intermediate-developers">slides</a> and <a href="https://github.com/dlh01/raleigh2013">code</a></li>
    </ul>
</section>

<section class="block-sections__section">
    <ul>
        <li>On my bookshelf: <a href="https://www.goodreads.com/user/show/27414258-david-herrera">Goodreads</a></li>
        <li>Research blog: <a href="http://argumentinjournalism.wordpress.com">Argument in journalism</a></li>
    </ul>
</section>

<section class="block-sections__section">
    <ul>
        <li>Publications and education: <a href="cv.html">My CV</a></li>
        <li>Email: <a href="mailto:{% include email_address.html %}">{% include email_address.html %}</a></li>
    </ul>
</section>

<aside class="block-sections__section" role="complementary">
    <ul class="flush--bottom">
        <li>Early-2013 reading and web development project: <a href="http://books2013.dlh01.info">Books and essays</a></li>
        <li>2012 web development blog: <a href="http://300days.dlh01.info/">300 Days</a></li>
        <li>On LinkedIn: <a href="http://www.linkedin.com/in/dlh01">/in/dlh01</a></li>
        <li>On Last.fm: <a href="http://www.last.fm/user/dlh01">/user/dlh01</a></li>
        <li>Old Delicious: <a href="http://delicious.com/dlh01">@dlh01</a></li>
    </ul>
</aside>

