/*------------------------------------*\
    $BLOCK-SECTIONS
\*------------------------------------*/
/**
 * Create big blocky sections of content, e.g.:
 *
  <div class="block-sections">
      <section>
      </section>
  </div>
 */
.block-sections{

    .block-sections__section{
        border-bottom:1px solid $base-ui-color;
        margin-bottom:$base-spacing-unit;
        margin-bottom:($base-spacing-unit / $base-font-size)*1rem;

        &:last-child{
            border-bottom:0;
            margin-bottom: 0;
        }
    }
}
