/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAZCAYAAAC/zUevAAAAgUlEQVR42u2X0QYAIRBF7/9/bk+l1LLclbJPh+wyw5XMnBhTrjSmyDk/cpzIay7ovVtboeH9IM7LBa21VS6811LKKucxr5TSqLW+6kRevFPOi8+c85oAw8f34p1xXnzGnBe/7Twv3innhWfO+U+8jvCO8I7wjvCO8I7feofj/D/kAijNr7H19kq2AAAAAElFTkSuQmCC);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
	color:#222;
}
